<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/patient-entry.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/recommendations.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/records.css' %}"/>
    <title>Clinical Decision Support System</title>
</head>
<body>
    {% include 'partials/_navbar.html' %}
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/patient-entry.js' %}"></script>
    <script src="{% static 'js/recommendations.js' %}"></script>
    <script src="{% static 'js/records.js' %}"></script>
</body>
</html>
