<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}"/>
    {% block page_styles %}{% endblock %}
    <title>Clinical Decision Support System</title>
</head>
<body>
    {% include 'partials/_navbar.html' %}
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    {% block page_scripts %}{% endblock %}
</body>
</html>
